pipeline/Pull_Data_From_Blob_Storage.json
{
	"name": "Pull_Data_From_Blob_Storage",
	"properties": {
		"activities": [
			{
				"name": "Zip_file_meta_data",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Data_population",
						"type": "DatasetReference"
					},
					"fieldList": [
						"columnCount",
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "validate meta deta",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Zip_file_meta_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Zip_file_meta_data').output.columnCount,13)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail activity",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "Wrong meta deta",
								"errorCode": "500"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Extract zip file",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "indic_de,geo\\time",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "indic_de,geo\\time",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2008 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2008 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2009 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2009 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2010 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2010 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2011 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2011 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2012 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2012 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2013 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2013 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2014 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2014 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2015 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2015 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2016 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2016 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2017 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2017 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2018 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2018 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2019 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2019 ",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Data_population",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Information_population",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-11-04T14:15:24Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}